/* 

Orange color palette

Primary #c15000;
Light #fa7f37;
Dark #8a2100;

*/
body {
    color: #514740;
    margin: 0;
    font-family: 'Merriweather', serif;
    text-align: center;
}

div.profile {
    margin-top: 4em;
}
hr {
    border: dotted #f6eeea 6px;
    border-bottom: none;
    width: 4%;
    margin: 80px auto;
}

h1 {
    position: relative;
    font-family: 'Sacramento', cursive;
    font-size: 5.6rem;
    margin: 50px auto 0 auto;
    color: #8A2100;
} 

h2 {
    color: #c15000;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.0rem;  
    font-weight: normal; 
    padding-bottom: 10px;
    z-index: 3; 
}

h3 {
    color:  #c15000;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

a {
    color:  #c15000;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
}

.bottom-container a:hover {
    color: #c15000;
}

.top-container {
    background-color: #eeeeee;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 200px;
    /* media queries: for narrow screens < 1092px change to z-index: -1; */
    
}

p {
    line-height: 2;
    margin-bottom: 4em;
}

.profile-image {
    border-radius: 50%;
    max-width: 10%;
}

.skill-row {
    margin: 100px auto;
    text-align: left;
    width: 60%;
}

.intro {
    width: 30%;
    margin: auto;
}

div.contact-me {
    width: 40%;
    margin: 40px auto 60px;
}
.copyright {
    color: #EAEAF6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.beadwork-image,
.trivial-image,
.django {
    border-radius: 20%;
    padding: 30px;
    width: 45%;
}

.beadwork-image {
    float: right;
}
.django,
.trivial-image {
    float: left;
}
.middle-container {
    padding-top: 100px 0;
} 

.bottom-container {
    background-color: #8a2100;;
    padding: 50px 0 20px;
}

ul.bottom-container {
    list-style-type: none;
    text-decoration: none; 
    color: #fff;  
}

.bottom-container p {
    color: #EAEAF6;
}

.bottom-container a {
    display: inline-block;
    position: relative;
    margin: 30px;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    color: #fff;  
}

a.btn {
    margin: auto 40px;
    background: #8a2100;
    background-image: -webkit-linear-gradient(top, #c15000, #8a2100);
    background-image: -moz-linear-gradient(top,top, #c15000, #8a2100);
    background-image: -ms-linear-gradient(top, top, #c15000, #8a2100);
    background-image: -o-linear-gradient(top, top, #c15000, #8a2100);
    background-image: linear-gradient(to bottom, top, #c15000, #8a2100);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  a.btn:hover {
    background: #8a2100;
    background-image: -webkit-linear-gradient(top, #c15000, #8a2100);
    background-image: -moz-linear-gradient(top, #c15000, #8a2100);
    background-image: -ms-linear-gradient(top, #c15000, #8a2100);
    background-image: -o-linear-gradient(top, #c15000, #8a2100);
    background-image: linear-gradient(to bottom, #c15000, #8a2100);
    text-decoration: none;
  }