@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");

html {
  display: block;
}

* {
  box-sizing: border-box;
  font-family: "Georama", sans-serif;
  width: 100%;
  font-weight: lighter;
}

body {
  /* display: block; */
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.5rem;
  font-family: "Georama", sans-serif;
  font-weight: normal;
  line-height: 1.4;
  width: 100%;
  height: 100%;
}

.switch {
  width: 80px;
  height: 40px;
  background-color: rgb(0, 5, 3);
  box-shadow: -10px 15px 20px rgb(50 50 50/ 25%);
  border-radius: 20px;
  position: relative;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(234, 227, 189);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 3s;
  box-shadow: inset 4px 4px 4px rgb(245, 220, 155),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.dark {
  background-color: rgba(255, 255, 255, 0.55);
  transition: 4s;
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 45px;
}

.dark .flicker {
  transform: translateX(40px);
}

.dark>* {
  color: rgb(250, 239, 196);
  color: #0f0e0d;
}

header {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.55);
}

main {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15vh;
}

article.skill-row {
  flex: 400px;
  margin-right: 6vw;
}

article.skill-row,
h1.name,
h2.headline {
  display: block;
  margin-left: 4vw;
}

h1 {
  display: block;
  line-height: 70px;
  font-size: 6vw;
  font-weight: lighter;
}

h1 {
  color: rgba(255, 255, 255, 0.55);
}

h2 {
  color: #e1a80b;
  margin-bottom: 2rem;
}

p {
  font-size: 0.9rem;
  line-height: 2;
  margin-bottom: 3.5em;
}

h2.skill,
h2.skill a {
  font-size: 1.8rem;
  line-height: 40px;
  font-weight: 300;
  margin: 2rem 0;
}

h2.headline {
  font-size: 2.5rem;
  font-weight: lighter;
}

h2.skill a:hover {
  color: #fff;
}

h2.skill a:active {
  color: #e1a80b;
}

h2.skill a:visited {
  color: #e1a80b;
}

ul {
  list-style: none;
}

a {
  color: #8581fe;
  font-size: 1.3rem;
  /* margin: 10px 20px; */
  text-decoration: none;
}

.copyright {
  color: #fff;
  font-size: 0.75rem;
  padding: 20px 0;
}

img.django-image,
img.comptia-badge,
img.beadwork-image,
img.trivial-image,
img.crit-badge {
  flex: 2;
  border: 0.5px solid darkgray;
  border-radius: 2%;
  max-width: 40%;
  padding-bottom: 5px;
}

img.django-image,
img.comptia-badge,
img.crit-badge {
  order: 2;
  margin-bottom: 20px;
}

p.paragraph-left,
p.paragraph-right {
  font-size: 0.9rem;
}

footer {
  clear: both;
  position: fixed;
  color: #000;
  height: 8vh;
  overflow: hidden;
  display: block;
  font-size: 1.5rem;
  background: #e1a80b;
  text-align: center;
  bottom: 0;
  width: 100%;
}

footer img {
  max-width: 10%;
}


footer ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200%;
}
footer ul li {
  margin-bottom: 5.0rem;
}

p.copyright {
  font-weight: normal;
  color: #525050;
  font-size: 2.0rem;
}

@media (max-width: 650px) {
  body {
    display: block;
    font-size: 80%;
  }

  p {
    position: relative;
    padding: 1rem;
    margin: -3rem 0 2rem 1rem;
  }
}