/* Colors
greenish black #0F0E0E;
dark burgundy plum #541212;
light olive green #8B9A46;
pale bluish gray #EEEEEE;
*/

body {
    margin: 0;
    background-color: #EEEEEE;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    position: relative;
    font-family: 'Cookie', cursive;
    font-size: 5.6rem;
    margin: 50px auto 0 auto;
} 

h2 {
    font-family: 'Tiro Tamil', serif;
    font-size: 2.5rem; 
}

h1, 
h2 {
    color: #66bfbf;
}

h2 {
    font-weight: normal;
}

h3 {
    font-family: 'Tiro Tamil', serif;
}

h3, 
a {
    color: #11999e;
}
.top-container {
    background-color: #EEEEEE;
    color: #541212;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.profile-image {
    border-radius: 50%;
    max-width: 10%;
}

.skill-row {
    line-height: 2;
    margin: 100px auto;
    text-align: left;
    width: 50%;
}

.beadwork-image,
.vest-image {
    border-radius: 20%;
    padding: 30px;
    width: 25%;
}

.beadwork-image {
    float: right;
}
.vest-image {
    float: left;
}
/* *.middle-container {
}
*.bottom-container {
} */
